* {
  padding: 0;
  margin: 0;
}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.header {
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position:
    top left,
    bottom right;
  background-color: #fff8f3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.head-color {
  color: #fd6e0a;
}
.font-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 20px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
nav button {
  padding: 10px 20px;
  background-color: #fd6e0a;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.btn {
  padding: 10px 20px;
  background-color: #fd6e0a;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
.btn-2 {
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #fd6e0a;
  margin-left: 20px;
}
.banner-text {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
}
.banner-head {
  font-weight: bold;
  font-size: 85px;
  color: #181818;
  margin-bottom: 10px;
}
.pra-text {
  color: #757575;
  font-size: 18px;
  margin-bottom: 20px;
}
.banner-pic {
  width: 580px;
  margin-top: 0px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 35px 0px 200px;
}
.banner-content {
  max-width: 580px;
}
/* shear style  */
.content-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 30px;
}
.content-text {
  font-size: 18px;
  color: #757575;
}
.primary-bg {
  background-color: #fff8f3;
}
.about {
  border-radius: 10px;
  margin-top: 130px;
  padding: 130px 150px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.about-desciption {
  margin-top: 30px;
}
.about-item {
  font-size: 20px;
  color: #757575;
}
.about-content {
  font-size: 20;
  font-weight: bold;
  color: #181818;
}
.services {
  text-align: center;
  margin-top: 150px;
}
.services-item {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.services-items {
  text-align: left;
  display: flex;
  gap: 24px;
}
.img {
  width: 44px;
}
.item {
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0 6px 50px rgb(0, 0, 0, 0.06);
}
.education {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 20px;
}
.education-dis {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
}
.education-dis-text {
  font-size: 20px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 20px;
}
.summery-content {
  display: flex;
  gap: 24px;
  text-align: start;
  margin-top: 130px;
  margin-bottom: 100px;
}
.summery-section {
  margin-top: 130px;
  margin-bottom: 130px;
}
